## SkuEditionEDA

In [1]:
from pathlib import Path

import numpy as np
import pandas as pd 
import dask.dataframe as dd

import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
%matplotlib inline

In [2]:
ROOT_PATH = Path(".").absolute().parents[0]
INPUT_PATH = ROOT_PATH / "input"

In [3]:
OS_VER_COLUMNS = ["MachineIdentifier",
                  "SkuEdition"
                 ]
train_df = dd.read_csv(INPUT_PATH / "train.csv", usecols=OS_VER_COLUMNS + ["HasDetections"]).compute()
display(train_df.head(10))
test_df = dd.read_csv(INPUT_PATH / "test.csv", usecols=OS_VER_COLUMNS).compute()
display(test_df.head(10))

                  MachineIdentifier SkuEdition  HasDetections
0  0000028988387b115f69f31a3bf04f09        Pro              0
1  000007535c3f730efa9ea0b7ef1bd645        Pro              0
2  000007905a28d863f6d0d597892cd692       Home              0
3  00000b11598a75ea8ba1beea8459149f        Pro              1
4  000014a5f00daa18e76b81417eeb99fc       Home              1
5  000016191b897145d069102325cab760        Pro              1
6  0000161e8abf8d8b89c5ab8787fd712b       Home              1
7  000019515bc8f95851aff6de873405e8       Home              0
8  00001a027a0ab970c408182df8484fce        Pro              0
9  00001a18d69bb60bda9779408dcf02ac       Home              1

                  MachineIdentifier SkuEdition
0  0000010489e3af074adeac69c53e555e       Home
1  00000176ac758d54827acd545b6315a5       Home
2  0000019dcefc128c2d4387c1273dae1d       Home
3  0000055553dc51b1295785415f1a224d       Home
4  00000574cefffeca83ec8adf9285b2bf       Home
5  000007ffedd31948f08e6c16da31f6d1        Pro
6  000008f31610018d898e5f315cdf1bd1       Home
7  00000a3c447250626dbcc628c9cbc460        Pro
8  00000b6bf217ec9aef0f68d5c6705897       Home
9  00000b8d3776b13e93ad83676a28e4aa       Home

In [8]:
display(sorted(train_df["SkuEdition"].unique()))
display(sorted(test_df["SkuEdition"].unique()))

['Cloud',
 'Education',
 'Enterprise',
 'Enterprise LTSB',
 'Home',
 'Invalid',
 'Pro',
 'Server']

['Cloud',
 'Education',
 'Enterprise',
 'Enterprise LTSB',
 'Home',
 'Invalid',
 'Pro',
 'Server']

In [7]:
display(train_df.groupby("SkuEdition").count())
display(train_df.groupby("SkuEdition").mean().sort_values("HasDetections"))

                 MachineIdentifier  HasDetections
SkuEdition
Cloud                         5589           5589
Education                    40694          40694
Enterprise                   34357          34357
Enterprise LTSB              20702          20702
Home                       5514341        5514341
Invalid                      78054          78054
Pro                        3224164        3224164
Server                        3582           3582

                 HasDetections
SkuEdition
Server                0.274149
Cloud                 0.383432
Invalid               0.467625
Home                  0.492266
Pro                   0.513226
Enterprise            0.516721
Enterprise LTSB       0.522655
Education             0.526982

In [8]:
display(test_df.groupby("SkuEdition").count())

                 MachineIdentifier
SkuEdition
Cloud                         5639
Education                    36874
Enterprise                   31700
Enterprise LTSB              20132
Home                       4513114
Invalid                      48013
Pro                        3195422
Server                        2359